@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="nav-item dropdown user-menu">
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <span class="d-none d-md-inline">@User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <!--begin::User Name-->
            <li class="user-header text-bg-primary">
                <p>
                    @User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value - @User.Claims.FirstOrDefault(c => c.Type == "Specialty")?.Value
                </p>
            </li>
            <!--end::User Name-->
            <!--begin::Menu Footer-->
            <li class="user-footer">
                
                @* <a href="#" class="btn btn-default btn-flat">Profile</a> *@
                @* open profile based on role *@
                @if(User.IsInRole("Admin"))
                {
                    <a class="btn btn-default btn-flat float-start" asp-controller="Admin" asp-action="Profile">Profile</a>
                }
                else if(User.IsInRole("Doctor"))
                {
                    <a class="btn btn-default btn-flat float-start" asp-controller="Doctors" asp-action="Details" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value">Profile</a>
                }
                else if(User.IsInRole("Receptionist"))
                {
                    <a class="btn btn-default btn-flat float-start" asp-controller="Receptionists" asp-action="Profile">Profile</a>
                }
                else
                {
                    <a class="btn btn-default btn-flat float-start" asp-controller="Account" asp-action="Profile">Profile</a>
                }
    
                <a class="btn btn-default btn-flat float-end" asp-controller="Account" asp-action="Logout">Sign out</a>
            </li>
            <!--end::Menu Footer-->
        </ul>
    }
    else
    {
        <a class="btn btn-default btn-flat float-end" asp-controller="Account" asp-action="Login">Sign in</a>
    }

</li>